.App{
  text-align: center;
}
nav{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background: #645E9D;
  color: white;
  box-shadow: 1px 1px 25px .5px black;
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
li{
  list-style: none;
  color: white;
}
